@page
@model www_Blush_Brush.Pages.Users.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Logout - Blush & Brush</title>
    <link rel="stylesheet" href="~/css/auth.css" />
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <img src="~/images/logo.png" alt="Logo" class="logo" />
            <h2>You have been logged out.</h2>
            <a href="/Users/Login" class="btn-login">Back to Login</a>
        </div>
    </div>
    
</body>
</html>