@page
@model www_Blush_Brush.Pages.Users.ResponseMessageModel
@{
    ViewData["Title"] = "Thông báo";
}

<div style="text-align: center; margin-top: 50px;">
    <h2>@Model.MessageErr</h2>

    <a href="/Home/View" class="btn btn-primary" style="margin-top: 20px;">
        Quay về trang chủ
    </a>
</div>
