<div class="container wide">
    <div class="row row-sm-30">
        <div class="col-lg-6">
            <div class="phone-wrap">
                <div class="phone-sub">
                    Hotline:
                    <div class="group-md group-middle">
                        <a class="phone-link" href="tel:#">0971503692</a>
                    </div>
                </div>
            </div>
            <div class="phone-sub">
                Fanpage:
                <div class="group-md group-middle">
                    <a class="phone-link" href="tel:#">https://www.facebook.com</a>
                </div>
            </div>
            <div class="phone-sub">
                TikTok:
                <div class="group-md group-middle">
                    <a class="phone-link" href="tel:#">https://www.tiktok.com</a>
                </div>
            </div>

        </div>
    </div>
    <div class="list-wrapper">
        <div class="row row-sm-30">
            <div class="col-sm-4 col-md-4 col-lg-3">
                <p>Phong cách makeup</p>
                <ul class="list">
                    <li><a href="#" data-waypoint-to="#">Makeup Hàn Quốc</a></li>
                    <li><a href="#" data-waypoint-to="#">Makeup Douyin</a></li>
                    <li><a href="#" data-waypoint-to="#">Makeup Tone Khói</a></li>
                    <li><a href="#" data-waypoint-to="#">Makeup Tone Hồng</a></li>
                    <li><a href="#" data-waypoint-to="#">Makeup Tone Tây</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
                <p>Blush&Brush</p>
                <ul class="list">
                    <li><a href="#" data-waypoint-to="#">Về Chúng Tôi</a></li>
                    <li><a href="#" data-waypoint-to="#">Đánh Giá</a></li>
                    <li><a href="#" data-waypoint-to="#">Dịch Vụ</a></li>
                    <li><a href="#" data-waypoint-to="#">Ưu Đãi</a></li>
                    <li><a href="#" data-waypoint-to="#">Giá Cả</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
                <p>Trợ Giúp</p>
                <ul class="list">
                    <li><a href="#" data-waypoint-to="#">Trung Tâm Trợ Giúp</a></li>
                    <li><a href="#" data-waypoint-to="#">Câu Hỏi Thường Gặp</a></li>
                    <li><a href="#" data-waypoint-to="#">Điều Khoản</a></li>
                    <li><a href="#" data-waypoint-to="#">Chính Sách Bảo Mật</a></li>
                    <li><a href="#" data-waypoint-to="#">Liên Hệ Chúng Tôi</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
                <img src="~/images/footer-1-280x156.jpg" alt="" width="280"
                     height="156" />
                <p>Top 5 phong cách makeup bạn nhất định nên thử khi đến với Blush&Brush</p>
                <div class="date"> 1 tháng 3, 2025</div>
            </div>
        </div>
    </div>
    <div class="row row-sm-30">
        <div class="col-lg-6">
            <div class="group-md group-middle">
                <p class="rights">
                    <span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Blush&Brush</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-lg-right">
                <ul class="group-xl group-middle">
                    <li><a class="icon icon-default icon-sm mdi mdi-rss" href="#"></a></li>
                    <li><a class="icon icon-default icon-sm mdi mdi-google" href="#"></a></li>
                    <li><a class="icon icon-default icon-sm mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-default icon-sm mdi mdi-tiktok" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>